# .NET
bin/

**/obj/
# DO NOT IGNORE ASSEMBLYINFO
!Wolfix.Server/Wolfix.Domain/obj/
!Wolfix.Server/Wolfix.Domain/obj/Debug/
!Wolfix.Server/Wolfix.Domain/obj/Debug/net9.0/
!Wolfix.Server/Wolfix.Domain/obj/Debug/net9.0/Wolfix.Domain.AssemblyInfo.cs

.vs/
.vscode/
.idea/
*.user
*.userosscache
*.suo
*.userprefs
*.sln.docstates

# Windows Installer files
Thumbs.db
Desktop.ini

# Mac system files
.DS_Store

# ASP.NET Core
project.lock.json
project.fragment.lock.json
artifacts/

# NuGet
# User-specific files
.nuget/

# Windows Installer files
# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Log files
*.log
/obj/
